.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.modal {
    background-color: pink;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    color: white;
}

.display {
    
}